.new-tweet {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.new-tweet > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 1.5%;
}

.new-tweet > form > label {
  color: #3a3b43;
  font-size: 1.5em;
  font-weight: 600;
}

#tweet-text {
  border: none;
  resize: none;
  outline: none;
  border-bottom: #3a3b43;
  border-bottom-style: solid;
  background-color: transparent;
}

.warning {
  display: none;
  align-items: center;
  flex-grow: 2;
  padding-top: 0.25em;
  padding-left: 3em;
}

.warn-box {
  display: flex;
  justify-content: space-around;
  width: 300px;
  border-top: 0.2em;
  padding: 0.3em;
  background-color: #D1B1C8;
  border-radius: 5px;
}

.warn-box > span {
  color: #813a6d;
  font-size: 0.8em;
}

.new-tweet > form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-button {
  background-color: #4056A1;
  border: none;
  margin-top: 1rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: Bungee;
  font-size: 0.65em;
  color: #FFFFFF;
}

#tweet-button:hover {
  cursor: pointer;
  box-shadow: #5675da8b 0px 0px 5px 5px;
}
.counter {
  font-family: Bungee;
  margin-top: 1rem;
}