.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.new-tweet > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 1.5%;
}

.new-tweet > form > label {
  color: #3a3b43;
  font-size: 0.8em;

}

.new-tweet > form > textarea {
  border: none;
  resize: none;
  outline: none;
  border-bottom: #3a3b43;
  border-bottom-style: solid;
  background-color: transparent;
}

.new-tweet > form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-button {
  background-color: #4056A1;
  border: none;
  margin-top: 1rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: Bungee;
  font-size: 0.65em;
  color: #FFFFFF;
}

#tweet-button:hover {
  box-shadow: #5675da8b 0px 0px 5px 5px;
}
.counter {
  font-family: Bungee;
  margin-top: 1rem;
}